.register-link, .register-link:hover {
    color: #6464ce;
}

.register {
    background-color: rgba(100, 100, 206, 0.9);
    border: 1px solid #6464ce;
}

.register:hover {
    background-color: rgba(80, 80, 206, 0.9);
    border: 1px solid #5050ce;
}